<div *ngIf="true" class="cookiebanner" id="cookiebanner">
  <h3>Cookie Policy</h3>
  <p class="mb_10">Diese Website nutzt Cookies und vergleichbare Funktionen zur Verarbeitung von Endgeräteinformationen und personenbezogenen Daten. Die Verarbeitung dient der Einbindung von Inhalten, externen Diensten und Elementen Dritter, der statistischen Analyse/Messung, der personalisierten Werbung oder des Remarketings sowie der Einbindung sozialer Medien. Je nach Funktion werden dabei Daten an Dritte weitergegeben innerhalb der EU. Ihre Einwilligung ist stets freiwillig, für die Nutzung unserer Website nicht erforderlich und kann jederzeit über das Icon unten links abgelehnt oder widerrufen werden.</p>
  <div>
    <button (click)="close()" class="mr_10">Akzeptiere Cookies</button>
    <button (click)="close()">Akzeptiere Cookies Nicht</button>
  </div>
</div>
