.scrollable-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-right: 60px;
  margin-left: 60px;
}

.gallery-card {
  flex: 0 0 auto;
  margin: 8px;
  width: 350px;
  min-height: 125px;
  height: auto;
}

mat-card-header {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}

.gallery-card, .cardcontent {
  display: block;
  text-wrap: wrap;
  text-align: start;
}

.gallery-card:hover {
  cursor: pointer;
}
