.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
 h2 {
   margin-bottom: 20px;
 }

th[mat-header-cell] {
  background-color: #cedcf0;
}
tr:nth-child(even) {
  background-color: #f7feff;
}


 /*
 th[mat-header-cell]:first-of-type{
  padding-left: 24px;
  border-top-left-radius: 9px;
}
th[mat-header-cell]:last-of-type{
  padding-right: 24px;
  border-top-right-radius: 9px;
}*/
