<div class="flex">
<h2>{{case?.title}}</h2>
  <div class="casestatus"><h3 class="stateheading">Status:</h3><p id="status">{{ case?.status }} am 05.05.2024</p></div>
  <div class="casestatus">
    <h3 class="stateheading">Fachbereich: </h3>
    <p id="area">{{area}}</p>
  </div>
  <div class="contacts">
    <div class="contact">
      <h4>Mandant</h4>
      <p>{{currentUser?.firstName}} {{currentUser?.lastName}} seit 05.05.2024</p>
      <p>Email: {{currentUser?.email}}</p>
      <p>Telefon: +43 6814567890</p>
    </div>
    <div *ngIf="case?.lawyerID" class="contact">
      <h4>Bearbeiter</h4>
      <p>Anwalt {{currentLawyer?.firstName}} {{currentLawyer?.lastName}} am 05.05.2024</p>
      <p>Email: {{currentLawyer?.email}}</p>
      <p>Telefon: +43 22434567890</p>
    </div>
  </div>

  <mat-card>
    <h3>Fallbeschreibung</h3>
    <p>{{case?.description}}</p>
  </mat-card>

  <div>
    <button (click)="back()" style="margin-right: 10px;">Zurück</button>

    <button *ngIf="isOpen() && !isLawyer()" (click)="accept()">Annehmen</button>
  </div>

</div>
